@media only screen and (max-width: 1248px) {
    .navbar-collapse .form-inline input {
        width: auto !important;
    }

    .sidebar {
        margin-top: 16px !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 760px) {
    .navbar {
        padding-left: 0 !important;
        padding-right: 0 !important;
        height: auto !important;
    }

    .navbar-brand,
    .form-my-profile .gender .custom-control {
        margin: 0 !important;
    }

    .navbar-collapse .form-inline input {
        margin: 5px 5px !important;
        width: auto !important;
    }

    .row,
    .content-header,
    .link-header,
    .product-review,
    .col-sm-12,
    .category-carousel {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .product-button .btn.border.border-dark.rounded-pill,
    .product-button .btn.btn-primary.rounded-pill {
        width: 100px !important;
    }

    .img-cart,
    .form-group.row select,
    .category-carousel .card {
        margin-bottom: 16px !important;
    }

    .product-title,
    .cart-summary,
    .link-header,
    .my-profile .main-my-profile,
    .content-header h2 {
        margin-top: 16px !important;
    }

    .form-my-profile {
        flex-direction: column-reverse !important;
    }

    .form-my-profile .gender {
        text-align: right !important;
    }

    .category-img {
        width: 100px !important;
        height: 100px !important;
    }
}

body {
    font-family: Metropolis Regular;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
    color: #44ad34;
}

.form-login-register {
    width: 400px;
}

.form-login-register .header p {
    font-size: 18px;
}

.form-login-register .switch button {
    width: 123px;
}

.form-login-register button {
    height: 48px;
}

.form-login-register input {
    height: 48px;
    padding-left: 23px;
}

a,
.new-popular .card-text,
.recommended-product .card-text {
    color: #44D62D;
}

.new-popular .card-title,
.recommended-product .card-title {
    color: black;
}

.btn-primary {
    background-color: #44D62D;
    border-color: #44D62D;
}

.btn:hover,
.btn-primary:hover {
    background-color: #44ad34;
    border-color: #44ad34;
}

.btn:hover {
    color: white;
}

.navbar {
    height: 100px;
}

.navbar .form-control {
    width: 480px;
    padding-left: 20px;
    background: url(/assets/img/icon/search.svg) no-repeat;
    background-position: 97% 50%;
}

.navbar a.btn {
    width: 85px;
}

.form-login-register .register button,
.form-login-register .login button,
.form-login-register input,
.form-login-register .switch button,
.navbar a,
.navbar .form-control,
.product-button button,
.address button,
.cart-summary button,
.my-profile button,
.my-profile label,
.my-profile input,
.my-profile select,
.form-login-register button {
    font-size: 14px;
}

.link-header span,
.link-header span a,
.product-title h6,
.product-rating p,
.product-price h6 {
    color: #6c757d;
}

.product-price p {
    font-size: 33px;
}

.product-size-quantity span,
.cart-checkbox span,
.delete-cart span,
.delete-cart a {
    font-size: 16px;
}

.product-button .btn {
    width: 155px;
    height: 48px;
}

.product-button .btn.btn-primary {
    width: 340px;
}

.product-color button,
.product-size-quantity button,
.cart-checkbox button,
.sidebar button {
    width: 35px;
    height: 35px;
}

.product-review .review-total h1 {
    font-size: 60px;
}

.product-review .review-total .list-inline-item img {
    width: 21px;
}

.product-review .sub-product-rating img {
    width: 16px;
}

.product-review .sub-product-rating .rating-bar {
    width: 100px;
}

.progress {
    height: 6px;
}

.progress-bar,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #44D62D;
}

.img-cart {
    width: 65px;
    height: 65px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.cart-summary p {
    font-size: 18px;
}

.sidebar .photo-profile img {
    width: 60px;
}

.upload-img img {
    width: 110px;
}

.upload-img button {
    width: 140px;
}

.sidenav {
    height: calc(100vh - 100px);
    background-color: white;
}

.category-img {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}