body {
    font-family: Metropolis Regular;
}

a {
    color: #44D62D;
}

a:hover {
    text-decoration: none;
    color: #44ad34;
}

.btn-primary {
    background-color: #44D62D;
    border-color: #44D62D;
}

.btn:hover,
.btn-primary:hover {
    background-color: #44ad34;
    border-color: #44ad34;
}

.form-login-register {
    width: 400px;
}

.form-login-register a {
    font-size: 14px;
}

.form-login-register .register button {
    margin-top: 45px;
    margin-bottom: 35px;
    border-radius: 25px;
    font-size: 14px;
    height: 48px;
}

.form-login-register .login button {
    margin-top: 20px;
    margin-bottom: 35px;
    border-radius: 25px;
    font-size: 14px;
    height: 48px;
}

.form-login-register .header img {
    margin-bottom: 35px;
}

.form-login-register .header p {
    margin-bottom: 45px;
    font-size: 18px;
}

.form-login-register input {
    font-size: 14px;
    height: 48px;
    padding-left: 23px;
}

.form-login-register .footer p {
    font-size: 14px;
}

.form-login-register .switch {
    margin-bottom: 35px;
}

.form-login-register .switch button {
    font-size: 14px;
    width: 123px;
    height: 48px;
    color: #9B9B9B;
}

.navbar-light {
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
    padding-left: 150px;
    padding-right: 150px;
    height: 90px;
}

.navbar-light .search-bar .form-control {
    border-radius: 23px;
    margin-left: 60px;
    width: 490px;
    padding-left: 20px;
    background: url(/assets/img/icon/search.svg) no-repeat;
    background-position: 97% 50%;
}

.navbar-light .search-bar .btn.border {
    border: 1px solid #8E8E93;
    border-radius: 12px;
}

.navbar-light button {
    font-size: 14px;
}

.navbar-light .nav-end .btn {
    width: 90px;
    border-radius: 24px;
}

.navbar-light .nav-end .btn.border {
    border: 1px solid #9B9B9B;
    color: #9B9B9B;
}

.content {
    margin: 40px 140px;
}

.content h2 {
    font-weight: bold;
    margin: 0;
    padding-top: 45px;
}

.content .subcontent {
    margin-bottom: 20px;
}

.content .card.item {
    height: 278px;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
}

.content .card.item .card-title {
    font-weight: bold;
    color: black;
}

.content .card.item .card-text {
    font-weight: bold;
    color: #44D62D;
}

.content .card.item .list-inline .list-inline-item {
    margin: 0;
}